/* tabs */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 16px;
}
/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

/* interactive general style */
.gui-component {
  margin-bottom: 16px;
}
.gui-slider-scale {
  padding-top: 26px;
  margin-left: 10px;
  margin-right: 10px;
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
  display: inline-block;
}
.gui-slider-single {
  padding-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  width: -moz-calc(100% - 14px);
  width: -webkit-calc(100% - 14px);
  width: -o-calc(100% - 14px);
  width: calc(100% - 14px);
  display: inline-block;
}

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .toggle {
  background-color: #272822;
}
input:focus + .toggle {
  box-shadow: 0 0 1px #272822;
}
input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.toggle.round {
  border-radius: 34px;
}
.toggle.round:before {
  border-radius: 50%;
}

/* radio btns */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  opacity: 0.7;
}
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #272822;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* div containing groups of radio */
.radio-group {
  display: flex;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
}
.radio-group .radio-container {
  margin-bottom: 8px;
  margin-right: 8px;
}

/* range slider */
.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}
.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}

/* scale */
.scale-slider {
  width: 100%;
}
.scale-slider.ui-slider {
  border-radius: 0px;
  background: #ccc;
  border: none;
  height: 2px;
}
.scale-slider.ui-slider .ui-slider-range {
  background: orange;
  height: 4px;
  top: -1px;
  transition: all 0.2s ease-out;
}
.scale-slider .ui-slider-handle {
  border-radius: 2px;
  height: 20px !important;
  width: 12px !important;
  top: -26px !important;
  border: none !important;
}
.scale-slider .ui-slider-handle:nth-of-type(n+1) {
  transform: rotateZ(-10deg);
  margin-left: -9px !important;
}
.scale-slider .ui-slider-handle:nth-of-type(n+2) {
  transform: rotateZ(10deg);
  margin-left: -3px !important;
}
.scale-slider .ui-slider-handle:after {
  content: "";
  border: 6px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  border-top-color: #272822;
}
.scale-slider .ui-slider-handle.ui-slider-handle.ui-state-focus:after,
.scale-slider .ui-slider-handle.ui-slider-handle.ui-state-hover:after,
.scale-slider .ui-slider-handle.ui-slider-handle.ui-state-active:after {
  border-top-color: #2196F3;
}
.scale-slider .ui-slider-pip {
  top: 2px;
}
.scale-slider .ui-slider-pip .ui-slider-label {
  background: rgba(67, 77, 90, 0);
  color: black;
  border-radius: 4px;
  padding: 0.3em 0;
  width: 2.4em;
  margin-left: -1.2em;
  transition: all 0.2s ease-out;
}
.scale-slider .ui-slider-pip .ui-slider-line {
  height: 4px;
}
.scale-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line {
  margin-left: -1px;
}
.scale-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label,
.scale-slider .ui-slider-pip.ui-slider-pip-selected-first .ui-slider-label,
.scale-slider .ui-slider-pip.ui-slider-pip-selected-second .ui-slider-label {
  background: rgba(67, 77, 90, 0.7);
  color: #fffaf7;
}

/* jquery custom theme */
.ui-widget-content .ui-slider-handle.ui-state-default {
    background: #272822;
    border-color: #272822;
}
.ui-widget-content .ui-slider-handle.ui-state-hover,
.ui-widget-content .ui-slider-handle.ui-state-focus {
    background: #2196F3;
    border-color: #2196F3;
}
.ui-slider.ui-slider-horizontal .ui-slider-handle {
    width: 15px;
    height: 25px;
    margin-left: -7px;
    top: -7px;
}
.ui-corner-all {
  border-radius: 2px;
}
.ui-widget-content {
  border: 1px solid #ccc;
  background: #ccc;
}
.ui-slider-label {
  color: black !important;
  font-weight: bold;
}
